#Contact>p{
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
    color: rgb(0, 173, 231);
}
.detail-container{
    width: 100%;
}
.contact-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    margin-top: -80px;
    padding: 50px;
}
/* .phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.phone-container>img{
    width: 60%;
}
.boxes{
    display: flex;
    gap: 10px;
    justify-content: left;
    /* text-align: ; */
}
.boxes>a:nth-child(1){
    font-size: 40px;
}
.boxes>div:nth-child(2)>a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
    
}
@media screen and (min-width: 750px) and (max-width: 1000px){
    
    #Contact>p {
        color: #00ade7;
        font-size: 40.8px;
        font-weight: 700;
        line-height: normal;
    }
}

@media screen and (min-width: 200px) and (max-width: 750px){
    #Contact>p {
        color: #00ade7;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
    }
    .boxes>a:nth-child(1){
        font-size: 20px;
    }
    .boxes>div:nth-child(2)>a>p{
        font-weight: 500;
        font-size: 11px;
        text-decoration: none;
        color: black;
        margin-top: 5px;
    }
    .phone-container>img{
        width: 110%;
    }
    .resize{
        margin-left: 10px;
    }
}
